<div class="position-relative">
  <div class="bgsetforloading position-absolute" *ngIf="loader">
    <div class="position-absolute middleinpage"><app-loader></app-loader></div>
  </div>

  <div class="container-fluid">
    <!-- <div class="row">
      <div class="col-lg-3 mb-2 col-md-3 col-6">
        <button class="btn btn-success btn-lg w-100">
          Total Order : {{ totalOrder }}
        </button>
      </div>
      <div class="col-lg-3 mb-2 col-md-3 col-6">
        <button class="btn btn-success btn-lg w-100">
          Pending : {{ totalPOrder }}
        </button>
      </div>
      <div class="col-lg-3 mb-2 col-md-3 col-6">
        <button class="btn btn-success btn-lg w-100">
          Canceled : {{ totalCnOrder }}
        </button>
      </div>
      <div class="col-lg-3 mb-2 col-md-3 col-6">
        <button class="btn btn-success btn-lg w-100">
          Completed : {{ totalCOrder }}
        </button>
      </div>
    </div> -->
    <div class="row mt-2">
      <div class="col-lg-12 text-end">
        <button
          class="btn btn-primary"
          (click)="toggleBtn()"
          *ngIf="showAddBtn"
        >
          New Order
        </button>
        <button
          class="btn btn-primary"
          (click)="toggleBtn()"
          *ngIf="!showAddBtn"
        >
          Close Form
        </button>
      </div>
    </div>
    <div class="row mt-2" *ngIf="!showAddBtn">
      <form class="row" [formGroup]="placeOrderForm" (ngSubmit)="onSubmit()">
        <div class="col-lg-3 col-6 mb-2">
          <label for="pickupDate">Pick Up Date</label>
          <input
            type="date"
            formControlName="pickupDate"
            id="pickupDate"
            class="form-control"
          />
        </div>
        <div class="col-lg-3 col-6 mb-2">
          <label for="pickuptime">Pick Up Time</label>
          <select
            formControlName="pickuptime"
            id="pickuptime"
            class="form-select"
          >
            <option value="flexible">Flexible Time</option>
            <option value="9am-10.30am">9 AM - 10.30 AM</option>
            <option value="11am-11.30am">11 AM - 11.30 AM</option>
            <option value="12pm">12 PM</option>
          </select>
        </div>
        <div class="col-lg-3 col-6 mb-2">
          <label for="deliverydate">Delivery Date</label>
          <input
            type="date"
            formControlName="deliverydate"
            id="deliverydate"
            class="form-control"
          />
        </div>
        <div class="col-lg-3 col-6 mb-2">
          <label for="deliverytime">Delivery Time</label>
          <select
            formControlName="deliverytime"
            id="deliverytime"
            class="form-select"
          >
            <option value="flexible">Flexible Time</option>
            <option value="12pm-1pm">12 PM - 1 PM</option>
            <option value="2pm-3pm">2 PM - 3 PM</option>
            <option value="4pm-5pm">4 PM - 5 PM</option>
          </select>
        </div>
        <div class="col-lg-3 mb-2 col-12">
          <label for="item">Delivery Item</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select Delivery Item'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            [ngModelOptions]="{ standalone: true }"
            (onSelect)="onInitiatorItemSelect($event)"
            (onDeSelect)="onInitiatorItemUnSelect($event)"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="col-lg-3 mb-2 col-12">
          <label for="service">Delivery Service</label>
          <select
            (change)="servicechargef()"
            class="form-select"
            formControlName="service"
            id="service"
          >
            <option value="">Select Delivery Service</option>
            <option [value]="data.serviceName" *ngFor="let data of serviceList">
              {{ data.serviceName }}
            </option>
          </select>
        </div>
        <div class="col-lg-3 col-12 mb-2">
          <label for="packageCount">Extra box (100 bdt)</label>
          <input
            type="number"
            formControlName="packageCount"
            id="packageCount"
            class="form-control"
            min="0"
            (change)="addPackageCost()"
          />
        </div>
        <div class="col-lg-3 col-6 mb-2">
          <label for="weight">Package Weight</label>
          <input
            type="text"
            formControlName="weight"
            id="weight"
            class="form-control"
          />
        </div>
        <div class="col-lg-3 col-6 mb-2">
          <label for="deliveryCost">Delivery Cost</label>
          <input
            type="number"
            formControlName="deliveryCost"
            id="deliveryCost"
            readonly
            class="form-control"
          />
        </div>
        <div class="col-lg-3 col-6 mb-2">
          <label for="productCost">Product Cost</label>
          <input
            type="number"
            formControlName="productCost"
            id="productCost"
            (keyup)="updateCollectionCost()"
            class="form-control"
          />
        </div>
        <div class="col-lg-3 col-6 mb-2">
          <label for="collectionAmount">Collection Amount</label>
          <input
            type="number"
            formControlName="collectionAmount"
            id="collectionAmount"
            class="form-control"
          />
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-3">
          <label for="paymentInfo"> Payment Info </label>
          <select
            formControlName="paymentInfo"
            id="paymentInfo"
            class="form-select"
          >
            <option value="Cash On Delivery">Cash On Delivery</option>
            <option value="Full Paid">Full Paid</option>
            <option value="Delivery Cost Only">Delivery Cost Only</option>
          </select>
        </div>
        <div class="col-lg-3 col-12 mb-2">
          <label for="customerName">Customer Name</label>
          <input
            type="text"
            formControlName="customerName"
            id="customerName"
            class="form-control"
          />
        </div>
        <div class="col-lg-3 col-12 mb-2">
          <label for="customerNumber">Customer Number</label>
          <input
            type="tel"
            formControlName="customerNumber"
            id="customerNumber"
            minlength="11"
            maxlength="11"
            class="form-control"
          />
        </div>
        <div class="col-lg-3 col-12 mb-2">
          <label for="customerAltNumber">Alternative Number</label>
          <input
            type="tel"
            formControlName="customerAltNumber"
            id="customerAltNumber"
            minlength="11"
            maxlength="11"
            class="form-control"
          />
        </div>

        <div class="col-lg-3 col-12 mb-2">
          <label for="customerArea">Customer Area</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select Area'"
            [settings]="dropdownSettings"
            [data]="dropdownList1"
            [(ngModel)]="selectedItems1"
            [ngModelOptions]="{ standalone: true }"
            (onSelect)="onInitiatorItemSelect1($event)"
            (onDeSelect)="onInitiatorItemUnSelect1($event)"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="col-lg-3 col-12 mb-2">
          <label for="customerAddress">Customer Address</label>
          <input
            type="text"
            formControlName="customerAddress"
            id="customerAddress"
            class="form-control"
          />
        </div>
        <div
          class="col-lg-3 col-12 mb-2"
          *ngIf="roleid == '1143fcc9-02d1-4bd0-ab47-b5efc92072fc'"
        >
          <label for="pickUpAssigned">Pickup Assigned</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select Rider'"
            [settings]="dropdownSettings"
            [data]="dropdownList3"
            [(ngModel)]="selectedItems3"
            [ngModelOptions]="{ standalone: true }"
            (onSelect)="onInitiatorItemSelect3($event)"
            (onDeSelect)="onInitiatorItemUnSelect3($event)"
          >
          </ng-multiselect-dropdown>
        </div>
        <div
          class="col-lg-3 col-12 mb-2"
          *ngIf="roleid == '1143fcc9-02d1-4bd0-ab47-b5efc92072fc'"
        >
          <label for="deliveryAssigned">Delivery Assigned</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select Rider'"
            [settings]="dropdownSettings"
            [data]="dropdownList3"
            [(ngModel)]="selectedItems4"
            [ngModelOptions]="{ standalone: true }"
            (onSelect)="onInitiatorItemSelect4($event)"
            (onDeSelect)="onInitiatorItemUnSelect4($event)"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="col-lg-12">
          <div class="row mt-2">
            <div class="col-lg-6">
              <button class="btn btn-primary w-100" type="submit">
                Submit
              </button>
            </div>
            <div class="col-lg-6">
              <button
                class="btn btn-warning w-100"
                type="submit"
                (click)="placeOrderFormRefresh()"
              >
                Clear
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row mt-2" *ngIf="showAddBtn">
      <form class="row" [formGroup]="orderSform" (ngSubmit)="onSearch()">
        <div class="col-lg-3 mb-2">
          <label for="id">Order Id</label>
          <input
            type="text"
            formControlName="id"
            id="id"
            class="form-control"
          />
        </div>
        <div class="col-lg-3 mb-2">
          <label for="status">Order Status</label>
          <select formControlName="status" class="form-select">
            <option value="">All</option>
            <option value="PENDING">PENDING</option>
            <option value="APPROVED">APPROVED</option>
            <option value="PICKEDUP">PICKEDUP</option>
            <option value="DELIVERED">DELIVERED</option>
          </select>
        </div>
        <div class="col-lg-3 mb-2">
          <label for="fromDate">From Date</label>
          <input
            type="date"
            formControlName="fromDate"
            id="fromDate"
            class="form-control"
          />
        </div>
        <div class="col-lg-3 mb-2">
          <label for="toDate">To Date</label>
          <input
            type="date"
            formControlName="toDate"
            id="fromDate"
            class="form-control"
          />
        </div>
        <div class="col-lg-4 mb-2">
          <button class="btn btn-primary w-100" type="submit">Search</button>
        </div>
        <div class="col-lg-4 mb-2">
          <button
            class="btn btn-success w-100"
            type="button"
            (click)="downloadXl()"
          >
            Download
          </button>
        </div>
        <div class="col-lg-4 mb-2">
          <button
            class="btn btn-warning w-100"
            type="button"
            (click)="orderSformRefresh()"
          >
            Clear
          </button>
        </div>
      </form>
    </div>
    <div class="row mt-2" *ngIf="showAddBtn">
      <div class="card">
        <div class="card-body overflow-y-auto">
          <table
            class="table table-responsive table-bordered table-centered table-nowrap"
            id="reporttable"
            #reporttable
          >
            <thead>
              <tr>
                <th class="align-middle double-column">Actions</th>
                <th class="align-middle double-column">Order Id</th>
                <th class="align-middle double-column">Delivery Status</th>
                <th class="align-middle double-column">
                  <p>Pickup Date - Time</p>
                  <p>Delivery Date - Time</p>
                </th>
                <th class="align-middle double-column">Merchant Information</th>
                <th class="align-middle double-column">
                  Item - Extra Box - Weight
                  <br />
                  Product Cost
                </th>
                <th class="align-middle double-column">
                  Delivery Service Type
                </th>
                <th class="align-middle double-column">
                  <p>Collection Amount</p>
                  <p>Payment Info</p>
                </th>
                <th class="align-middle double-column">Pickup Assigned</th>
                <th class="align-middle double-column">Delivery Assigned</th>
                <th class="align-middle double-column">Customer Information</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of orderList">
                <td class="align-middle double-column p-0">
                  <div
                    class="absolute-position dropdown customcolorforaction"
                    ngbDropdown
                    placement="bottom-right"
                  >
                    <a
                      href="javascript: void(0);"
                      class="dropdown-toggle card-drop"
                      ngbDropdownToggle
                    >
                      <i class="fas fa-ellipsis-h font-size-18 ms-2 mt-3"></i>
                    </a>
                    <div
                      class="dropdown-menu dropdown-menu-end dropdown-menu-customize"
                      ngbDropdownMenu
                    >
                      <a
                        href="javascript: void(0);"
                        *ngIf="
                          roleid == '1143fcc9-02d1-4bd0-ab47-b5efc92072fc' ||
                          roleid == 'e4241052-bf66-497b-9c4e-ee439cc586d4'
                        "
                        class="dropdown-item"
                        (click)="editOrder(data)"
                        ><i class="fas fa-pencil-alt text-success me-1"></i
                        >Edit</a
                      >
                      <a
                        href="javascript: void(0);"
                        *ngIf="
                          roleid == '1143fcc9-02d1-4bd0-ab47-b5efc92072fc' ||
                          roleid == 'e4241052-bf66-497b-9c4e-ee439cc586d4'
                        "
                        class="dropdown-item"
                        (click)="deleteOrder(data)"
                        ><i class="fas fa-trash text-danger me-1"></i>Delete</a
                      >
                      <a
                        href="javascript: void(0);"
                        *ngIf="roleid == '1143fcc9-02d1-4bd0-ab47-b5efc92072fc'"
                        class="dropdown-item"
                        (click)="approveOrder(data)"
                        >Approve Order
                      </a>
                      <a
                        href="javascript: void(0);"
                        *ngIf="
                          roleid == '1143fcc9-02d1-4bd0-ab47-b5efc92072fc' ||
                          roleid == '44eff443-bf52-4e6f-a5d5-d42fb409e0c1'
                        "
                        class="dropdown-item"
                        (click)="pickOrder(data)"
                        >Pickup Complete
                      </a>
                      <a
                        href="javascript: void(0);"
                        *ngIf="
                          roleid == '1143fcc9-02d1-4bd0-ab47-b5efc92072fc' ||
                          roleid == '44eff443-bf52-4e6f-a5d5-d42fb409e0c1'
                        "
                        class="dropdown-item"
                        (click)="deliveryOrder(data)"
                        >Delivery Complete
                      </a>
                    </div>
                  </div>
                </td>
                <td class="align-middle double-column">
                  {{ data.id }}
                </td>
                <td
                  class="align-middle double-column"
                  (click)="openModal(content, data)"
                >
                  {{ data.deliveryStatus }}
                </td>
                <td
                  class="align-middle double-column"
                  (click)="openModal(content, data)"
                >
                  <p>{{ data.pickupDate }}, {{ data.pickuptime }}</p>
                  <p>{{ data.deliverydate }}, {{ data.deliverytime }}</p>
                </td>
                <td
                  class="align-middle double-column"
                  (click)="openModal(content, data)"
                >
                  <div
                    [innerHTML]="getMerchantInformation(data.mercahntId)"
                  ></div>
                  <!-- {{ getMerchantInformation(data.mercahntId) }} -->
                </td>
                <td
                  class="align-middle double-column"
                  (click)="openModal(content, data)"
                >
                  {{ data.item }} <br /><br />
                  Extra Box: {{ data.packageCount }} <br /><br />
                  Weight: {{ data.weight }} <br /><br />
                  Product Price{{ data.productCost }} TK
                </td>
                <td
                  class="align-middle double-column"
                  (click)="openModal(content, data)"
                >
                  {{ data.service }} <br />Charge: {{ data.deliveryCost }}
                </td>

                <td
                  class="align-middle double-column"
                  (click)="openModal(content, data)"
                >
                  <p>Collection Amount{{ data.collectionAmount }}</p>
                  <br />
                  <p>{{ data.paymentInfo }}</p>
                </td>
                <td
                  class="align-middle double-column"
                  (click)="openModal(content, data)"
                >
                  <div [innerHTML]="getRider(data.pickUpAssigned)"></div>
                  <!-- {{ getRider(data.pickUpAssigned) }} -->
                </td>
                <td
                  class="align-middle double-column"
                  (click)="openModal(content, data)"
                >
                  <div [innerHTML]="getRider(data.deliveryAssigned)"></div>
                  <!-- {{ getRider(data.deliveryAssigned) }} -->
                </td>
                <td
                  class="align-middle double-column"
                  (click)="openModal(content, data)"
                >
                  <p>{{ data.customerName }}</p>
                  <p>{{ data.customerNumber }}/ {{ data.customerAltNumber }}</p>
                  <p>{{ getZoneName(data.customerArea) }}</p>
                  <p>{{ data.customerAddress }}</p>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- pagination start -->
          <div
            class="row justify-content-md-between align-items-md-center mt-2"
          >
            <div class="col-12 col-md-5">
              <div
                class="dataTables_info mb-2"
                id="tickets-table_info"
                role="status"
                aria-live="polite"
              >
                Showing
                {{ cPageVal }} to {{ toPageVal }} of {{ total }}
                entries
              </div>
            </div>
            <div class="col-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination
                  id="paginationCustoimse"
                  [collectionSize]="total"
                  (pageChange)="page = onPageChange($event)"
                  [pageSize]="pageSize"
                  [maxSize]="3"
                >
                </ngb-pagination>
              </div>
            </div>
          </div>
          <!-- pagination ends -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Order Details</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered table-responsive">
      <tbody>
        <tr>
          <td>PickUp Time</td>
          <td>{{ modalData.pickupDate }}, {{ modalData.pickuptime }}</td>
        </tr>
        <tr>
          <td>Merchant</td>
          <td>
            <div
              [innerHTML]="getMerchantInformation(modalData.mercahntId)"
            ></div>
          </td>
        </tr>
        <tr>
          <td>Product</td>
          <td>
            {{ modalData.item }} <br /><br />
            Extra Box: {{ modalData.packageCount }} <br /><br />
            Weight: {{ modalData.weight }} <br /><br />
            Product Price{{ modalData.productCost }} TK
          </td>
        </tr>
        <tr>
          <td>Charge</td>
          <td>{{ modalData.deliveryCost }}</td>
        </tr>
        <tr>
          <td>Delivery Information</td>
          <td>
            Pickup:
            <div [innerHTML]="getRider(modalData.pickUpAssigned)"></div>
            <br />
            Delivery:
            <div [innerHTML]="getRider(modalData.pickUpAssigned)"></div>
          </td>
        </tr>

        <tr>
          <td colspan="2"></td>
        </tr>

        <tr>
          <td>Delivery Time</td>
          <td>{{ modalData.deliverydate }}, {{ modalData.deliverytime }}</td>
        </tr>
        <tr>
          <td>Customer Information</td>
          <td>
            <p>{{ modalData.customerName }}</p>
            <p>
              {{ modalData.customerNumber }}/
              {{ modalData.customerAltNumber }}
            </p>
            <p>{{ getZoneName(modalData.customerArea) }}</p>
            <p>{{ modalData.customerAddress }}</p>
          </td>
        </tr>
        <tr>
          <td>Collection Amount</td>
          <td>
            {{ modalData.collectionAmount }} <br />{{ modalData.paymentInfo }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
