<div class="position-relative">
  <div class="bgsetforloading position-absolute" *ngIf="loader">
    <div class="position-absolute middleinpage"><app-loader></app-loader></div>
  </div>
  <div class="container-fluid">
    <div class="row bg-white">
      <div class="col-lg-6 col-md-6 col-12"><h3>Order</h3></div>
      <div class="col-lg-6 col-md-6 col-12 text-end">
        <button
          class="btn btn-lg btn-primary"
          (click)="toggleAddOrderBtn()"
          *ngIf="showAddBtn"
        >
          Add New
        </button>
        <button
          class="btn btn-lg btn-primary"
          (click)="toggleAddOrderBtn()"
          *ngIf="!showAddBtn"
        >
          Close
        </button>
      </div>
    </div>
    <div class="row bg-white mt-3" *ngIf="showAddBtn">
      <form class="row" [formGroup]="orderForm">
        <div class="col-lg-4 col-md-3 col-12 mb-3">
          <label for="merchantname"> Merchant Name </label>
          <ng-multiselect-dropdown
            [placeholder]="'Select Transaction Type'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            [ngModelOptions]="{ standalone: true }"
            (onSelect)="onInitiatorItemSelect($event)"
            (onDeSelect)="onInitiatorItemUnSelect($event)"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="col-lg-4 col-md-3 col-12 mb-3">
          <label for="merchantnum"> Merchant Number </label>
          <input type="text" [value]="" class="form-control" disabled />
        </div>
        <div class="col-lg-4 col-md-3 col-12">
          <label for="pickupaddress"> Pick up Address </label>
          <input type="text" [value]="" class="form-control" disabled />
        </div>
        <div class="col-lg-3 col-md-3 col-12 mb-3">
          <label for="item"> Item </label>
          <ng-multiselect-dropdown
            [placeholder]="'Select Item'"
            [settings]="dropdownSettings"
            [data]="dropdownList1"
            [(ngModel)]="selectedItems1"
            [ngModelOptions]="{ standalone: true }"
            (onSelect)="onInitiatorItemSelect1($event)"
            (onDeSelect)="onInitiatorItemUnSelect1($event)"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="col-lg-3 col-md-4 col-12 mb-3">
          <label for="paymentTypeId"> Payment Info </label>
          <select
            formControlName="paymentTypeId"
            id="paymentTypeId"
            class="form-select"
          >
            <option value="COD Received">COD Received</option>
            <option value="Delivery Cost Only">Delivery Cost Only</option>
            <option value="No Cash Receive">No Cash Receive</option>
            <option value="Customer paid to merchant">
              Customer Paid to Merchant
            </option>
            <option value="Customer will pay bKash to Merchant">
              Customer will pay bKash to Merchant
            </option>
            <option value="Custoemr unreachable">Custoemr unreachable</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-4 col-12 mb-3">
          <label for="receivedAmount"> Amount Received </label>
          <input
            type="text"
            formControlName="receivedAmount"
            id="receivedAmount"
            class="form-control"
          />
        </div>
        <div class="col-lg-3 col-md-4 col-12 mb-3">
          <label for="otherNote"> Other Note </label>
          <input
            type="text"
            formControlName="otherNote"
            id="otherNote"
            class="form-control"
          />
        </div>
      </form>
    </div>
  </div>
  <div class="row bg-white mt-3 p-3">
    <form [formGroup]="searchForm" class="row" (ngSubmit)="getAllOrderList()">
      <div class="col-lg-6 mb-3">
        <label for="fromdate">From Date</label>
        <input
          class="form-control"
          type="date"
          formControlName="fromdate"
          id="fromdate"
          [value]="currentdate"
        />
      </div>
      <div class="col-lg-6 mb-3">
        <label for="toDate">To Date</label>
        <input
          class="form-control"
          type="date"
          formControlName="todate"
          id="todate"
          [value]="currentdate"
        />
      </div>
      <div class="col-lg-6 mb-3">
        <button class="btn btn-primary w-100" type="submit">Search</button>
      </div>
      <div class="col-lg-6 mb-3">
        <button class="btn btn-warning w-100" (click)="searchRefreshForm()">
          Clear
        </button>
      </div>
    </form>
  </div>
  <div class="row bg-white mt-2 p-3">
    <div class="col-lg-12">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Action</th>
            <th>Merchant Name</th>
            <th>Merchant Number</th>
            <th>Payment Info</th>
            <th>Amount Received</th>
            <th>Other Note</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
