table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

::ng-deep .description table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

::ng-deep .description td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

::ng-deep .accordion-button {
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 0.08rem;
}
