<div class="p-5">
  <h2 class="text-center mb-4">FAQ</h2>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 12pt;
      line-height: 108%;
      font-size: 14pt;
    "
  >
    <strong> আমাদের ডেলিভারি কাভারেজ</strong>
  </p>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 12pt;
      text-align: justify;
      line-height: 150%;
      font-size: 12pt;
    "
  >
    মিরপুর, মোহাম্মদপুর, ধানমন্ডি, ফার্মগেট, ইন্দিরা রোড, মহাখালী, মগবাজার, সকল
    ডি ও এইচ এস, গুলশান, বনানী, বারিধারা, বসুন্ধরা, উত্তরা (শুধুমাত্র সেক্টর),
    বাড্ডা, রামপুরা, বনশ্রী, মালিবাগ, খিলগাঁও, পল্টন, আরামবাগ, সেগুনবাগিচা,
    ইস্কাটন, শান্তিনগর, পরীবাগ, বেইলি রোড, শাহাবাগ, এলিফ্যান্ট রোড।
  </p>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 12pt;
      text-align: justify;
      line-height: 108%;
      font-size: 14pt;
    "
  >
    <strong>যে সকল এরিয়া গুলোতে আমাদের সার্ভিস নেই</strong>
  </p>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 12pt;
      text-align: justify;
      line-height: 150%;
      font-size: 12pt;
    "
  >
    পুরান ঢাকা, যাএাবাড়ি, নন্দিপাড়া, মুগদা, কমলাপুর, মতিঝিল, বসিলা, গাবতলী,
    ঢাকা উদ্দান, চন্দ্রিমা উদ্দান, বেড়িবাঁধ, হাজারিবাগ, উত্তরা দক্ষিণ খান, উত্তর
    খান, আব্দুল্লাহপুর, টংগী, সাভার, গাজীপুর, নারায়ণগঞ্জ, সোনারগাঁও ইত্যাদি।
  </p>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 12pt;
      text-align: justify;
      line-height: 150%;
      font-size: 12pt;
    "
  >
    এছাড়াও উত্তরা ১০ নম্বর সেক্টরের কিছু রোডে (যেমন: কামারপাড়া বা এর কাছাকাছি
    রোড গুলোতে) আমাদের সার্ভিস চালু হয় নাই বলে আমরা আন্তরিক ভাবে দুঃখিত ।
  </p>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 12pt;
      line-height: 108%;
      font-size: 14pt;
    "
  >
    <strong> আমাদের বেসিক শর্তাবলী: </strong>
  </p>
  <ul type="square">
    <li>বুকিং অবশ্যই ১ দিন আগে ( রাত ৯ টার মধ্যে )</li>
    <li>ফ্লেক্সিবল টাইম (পিকআপ এন্ড ড্রপ)</li>
    <li>২৪ ঘন্টার মধ্যে COD পেমেন্ট</li>
    <li>কোন পার্সেন্টেজ (%) বা হিডেন খরচ নেই</li>
    <li>রাইডারকে সর্বোচ্চ ৫ মিনিটের বেশি টাইম দাঁড় করিয়ে রাখা যাবে না</li>
    <li>আমাদের দ্বারা কোনো খাবার বা কেক নষ্ট হলে ১০০% টাকা ফেরত গ্যারান্টি</li>
    <li>সপ্তাহে ৭দিন খোলা থাকে সকাল ৯ টা থেকে বিকাল ৪ টা পর্যন্ত</li>
    <li>রাইডার লিফট ছাড়া ৪ তালা বেশি উপরে সিঁড়িতে উঠা যাবে না</li>
  </ul>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 12pt;
      line-height: 108%;
      font-size: 14pt;
    "
  >
    <strong>আমাদের ডেলিভারি প্যাকেজ:</strong>
  </p>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 12pt;
      line-height: 108%;
      font-size: 12pt;
    "
  >
    <strong>Standard Service:</strong>
  </p>
  <table>
    <thead>
      <tr>
        <th>Items</th>
        <th>Transport</th>
        <th>Weight</th>
        <th>Cost</th>
        <th>Drop time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>E-commerce</td>
        <td rowspan="2">Bike</td>
        <td rowspan="2">Up to 3kg</td>
        <td>100 Tk</td>
        <td rowspan="2">Within 4-6 Hours</td>
      </tr>
      <tr>
        <td>
          Dry Food, Jar cake, Brownie, Chocolate, Cookies, Pickle, Masala,
          Honey, Fruits, Oils etc.
        </td>
        <td>150 Tk</td>
      </tr>
    </tbody>
  </table>
  <p
    style="
      margin-top: 15pt;
      margin-bottom: 12pt;
      line-height: 108%;
      font-size: 12pt;
    "
  >
    <strong>Express Service:</strong>
  </p>
  <table>
    <thead>
      <tr>
        <th>Items</th>
        <th>Transport</th>
        <th>Weight</th>
        <th>Cost</th>
        <th>Drop Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Food: Cooked/Frozen, Slice Cake, Bento Cake, Sushi, Fast food, Liquid
          Food etc.
        </td>
        <td>Bike</td>
        <td rowspan="2">Up to 1.5kg</td>
        <td>200 Tk</td>
        <td>Within 2 hours</td>
      </tr>
      <tr>
        <td>Birthday Cake, Cupcake, Sushi Cake, Fragile</td>
        <td>AC Car/ Freezing van</td>
        <td>250 Tk</td>
        <td>Flexible Time</td>
      </tr>
    </tbody>
  </table>
  <p
    style="
      margin-top: 15pt;
      margin-bottom: 12pt;
      line-height: 108%;
      font-size: 12pt;
    "
  >
    <strong>Super Express Service:</strong>
  </p>
  <table>
    <tbody>
      <tr>
        <td>Birthday Cake/Celebration cake/Tier Cake</td>
        <td>AC Car</td>
        <td rowspan="2">Up to 4 kg</td>
        <td>600 Tk</td>
        <td rowspan="2">Within 2 hours</td>
      </tr>
      <tr>
        <td>Birthday Cake, Cupcake, Sushi Cake, Fragile</td>
        <td>CNG</td>
        <td>400 Tk</td>
      </tr>
    </tbody>
  </table>
  <p
    style="
      margin-top: 15pt;
      margin-bottom: 12pt;
      line-height: 108%;
      font-size: 14pt;
    "
  >
    <strong>বিঃদ্রঃ</strong>
  </p>
  <ul type="square">
    <li>আমাদের কভারেজের মধ্যে সমস্ত এলাকার ডেলিভারি খরচ একই থাকবে</li>
    <li>কোনো অতিরিক্ত বক্স বা পাউন্ড থাকলে চার্জ অন্তর্ভুক্ত করা হবে</li>
    <li>
      রাস্তার অবস্থার কারণে ড্রপ টাইম বিলম্বিত হতে পারে (বিশাল যানজট, ভিআইপি
      চলাচল)।
    </li>
  </ul>
  <p
    style="
      margin-top: 20pt;
      margin-bottom: 12pt;
      line-height: 108%;
      font-size: 14pt;
    "
  >
    <strong>Delivery Portal Link:</strong>
  </p>
  <p style="margin-top: 10pt; margin-bottom: 12pt">
    <strong
      ><a href="https://delivery.uparjonmart.com"
        >delivery.uparjonmart.com</a
      ></strong
    >
  </p>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 12pt;
      line-height: 108%;
      font-size: 14pt;
    "
  >
    <strong>Cake Delivery Process:</strong>
  </p>
  <p>Flexible Time: Morning pickup and drop by afternoon</p>
  <p>Pickup always morning by 10-11:30am</p>
  <p>Drop within 3-5 pm</p>
  <p>Transport: AC car/ Freezing van</p>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 12pt;
      line-height: 108%;
      font-size: 14pt;
    "
  >
    <strong>Freezing van Areas &amp; Time:</strong>
  </p>
  <p>Mirpur 10-11am</p>
  <p>Banani - Gulshan 12pm</p>
  <p>Indira Road 1pm</p>
  <p>Dhanmondi 2-3 pm</p>
  <p>Mohammadpur 3-4pm</p>
  <p>Mirpur 4-5 pm</p>
  <p
    style="
      margin-top: 0pt;
      margin-bottom: 12pt;
      line-height: 108%;
      font-size: 14pt;
    "
  >
    <strong>Payment Process:</strong>
  </p>
  <p>After delivery send your bkash number and you payable amount</p>
</div>
