<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-tap bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="tap-color">Change Password</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img
                      src="assets/images/upjl/icon.png"
                      alt=""
                      class="rounded-circle"
                      height="34"
                    />
                  </span>
                </div>
              </a>
            </div>

            <form
              class="needs-validation"
              name="resetForm"
              [formGroup]="resetForm"
              (ngSubmit)="onSubmit()"
              novalidate
            >
              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{
                error
              }}</ngb-alert>

              <div class="mb-3">
                <label for="curpass">Current Password</label>
                <input
                  type="password"
                  formControlName="curpass"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['curpass'].errors }"
                  id="curpass"
                  placeholder="Current Password"
                />

                <div
                  *ngIf="submitted && f['curpass'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['curpass'].errors['required']">
                    Current Password is required
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="newpass">New Password</label>
                <input
                  type="password"
                  formControlName="newpass"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f['newpass'].errors }"
                  id="newpass"
                  placeholder="New Password"
                />

                <div
                  *ngIf="submitted && f['newpass'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['newpass'].errors['required']">
                    New Password is required
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="newpass2">Retype New Password</label>
                <input
                  type="password"
                  formControlName="newpass2"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && f['newpass2'].errors
                  }"
                  id="newpass2"
                  placeholder="Retype New Password"
                />

                <div
                  *ngIf="submitted && f['newpass2'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['newpass2'].errors['required']">
                    Retype Password is required
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-bg btn-primary w-md" type="submit">
                  Change Password
                </button>
              </div>
            </form>
          </div>
          <!-- end card-body-->
        </div>
        <!-- end card -->
        <div class="mt-5 text-center">
          <p>
            <a routerLink="/" class="fw-medium text-primary"
              >Go Back dashboard</a
            >
          </p>
          <p>© {{ year }} UPJL</p>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
