<div class="position-relative">
  <div class="bgsetforloading position-absolute" *ngIf="loader">
    <div class="position-absolute middleinpage"><app-loader></app-loader></div>
  </div>

  <div class="">
    <div class="row bg-white mt-3">
      <div class="col-lg-6 col-md-6 col-12">
        <h3 class="my-2">Sales</h3>
      </div>
      <div class="col-lg-6 col-md-6 col-12 text-end">
        <button
          class="btn btn-lg btn-primary"
          (click)="toggleAddBtn()"
          *ngIf="showAddBtn"
        >
          Add New
        </button>
        <button
          class="btn btn-lg btn-primary"
          (click)="toggleAddBtn()"
          *ngIf="!showAddBtn"
        >
          Close
        </button>
      </div>
    </div>

    <div class="row bg-white mt-2" *ngIf="!showAddBtn">
      <h3 class="text-center my-3">New Entry</h3>
      <div class="col-lg-12 col-12 col-md-12">
        <form
          (keydown.enter)="$event.preventDefault()"
          [formGroup]="salesForm"
          class="row"
          (ngSubmit)="onsubmit()"
        >
          <div class="col-lg-6 mb-3">
            <label for="date">Date</label>
            <input
              class="form-control"
              type="date"
              formControlName="date"
              id="date"
            />
          </div>
          <div class="col-lg-6 mb-3">
            <label for="">Select DSO</label>
            <ng-multiselect-dropdown
              [placeholder]="'Select DSO'"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="selectedItems"
              [ngModelOptions]="{ standalone: true }"
              (onSelect)="onInitiatorItemSelect($event)"
              (onDeSelect)="onInitiatorItemUnSelect($event)"
            >
            </ng-multiselect-dropdown>
          </div>

          <div class="col-lg-12 col-md-12 col-12 mb-3">
            <div class="row" *ngIf="f['dsoId'].value && currentPage == 0">
              <h3 class="text-center mt-3">Items</h3>
              <div class="col-lg-12">
                <table
                  class="table table-centered table-nowrap table-bordered"
                  [formGroup]="slubForm"
                >
                  <thead class="customise-thead"></thead>
                  <tbody formArrayName="slubFormVal">
                    <tr
                      class="py-2 border-primary border-3"
                      *ngFor="let data1 of slubData().controls; let i = index"
                      [formGroupName]="i"
                    >
                      <td colspan="9">
                        <div class="row">
                          <div
                            class="col-lg-1 col-md-1 col-1 my-2 border-1 border-danger border text-center"
                            (click)="deleteSlub(i)"
                          >
                            <i
                              class="fas fa-trash-alt mt-2"
                              (click)="deleteSlub(i)"
                            ></i>
                          </div>
                          <div class="col-lg-7 col-md-7 col-11 my-2">
                            <label for="">Select Item</label>
                            <ng-multiselect-dropdown
                              [placeholder]="'Select Item'"
                              [settings]="dropdownSettings"
                              [data]="dropdownList1"
                              [(ngModel)]="selectedItems1[i]"
                              [ngModelOptions]="{ standalone: true }"
                              (onSelect)="onInitiatorItemSelect1($event, i)"
                              (onDeSelect)="onInitiatorItemUnSelect1($event, i)"
                            >
                            </ng-multiselect-dropdown>
                          </div>
                          <div class="col-lg-2 col-md-2 col-6 my-2">
                            <label for="">Quantity</label>
                            <input
                              type="number"
                              formControlName="quantity"
                              id="quantity"
                              placeholder="Quantity"
                              min="1"
                              class="form-control m-0"
                              (change)="changeOnAmount()"
                              (input)="changeOnAmount()"
                            />
                          </div>

                          <div class="col-lg-2 col-md-2 col-6 my-2">
                            <label for="">Total Amount</label>
                            <input
                              type="number"
                              [value]="
                                inventoryPriceList.get(
                                  slubData().controls[i].get('itemId')?.value
                                ) *
                                slubData().controls[i].get('quantity')?.value
                              "
                              id="amount"
                              placeholder="Total Amount"
                              min="1"
                              class="form-control m-0"
                              readonly
                            />
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="9">
                        <div
                          *ngIf="slubadderrorshow && slubData().invalid"
                          class="text-danger text-center fw-bolder"
                        >
                          <div>Fill Up the Previous One</div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-12 text-end">
                <button
                  type="button"
                  class="ms-2 btn btn-primary w-md"
                  (click)="addSlub()"
                >
                  Add Item
                </button>
              </div>

              <div class="col-lg-3 col-md-6 mb-3">
                <label for="freeItem">Free Item</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="freeItem"
                  id="freeItem"
                />
              </div>

              <div class="col-lg-3 col-md-6 mb-3">
                <label for="discount">Discount</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="discount"
                  id="discount"
                  min="0"
                  (input)="discountChange($event)"
                />
              </div>

              <div class="col-lg-3 col-md-6 mb-3">
                <label for="amount">Amount</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="amount"
                  id="amount"
                  min="0"
                  (input)="amountChange($event)"
                  readonly
                />
              </div>

              <div class="col-lg-3 col-md-6 mb-3">
                <label for="finalAmount">Final Amount</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="finalAmount"
                  id="finalAmount"
                />
              </div>
            </div>
            <div class="row" *ngIf="f['dsoId'].value && currentPage == 1">
              <h3 class="text-center mt-3">Expense</h3>
              <div class="col-lg-12">
                <table
                  class="table table-centered table-nowrap table-bordered"
                  [formGroup]="slubExpenseForm"
                >
                  <thead class="customise-thead"></thead>
                  <tbody formArrayName="slubExpenseFormVal">
                    <tr
                      class="py-2 border-primary border-3"
                      *ngFor="
                        let data1 of slubExpenseData().controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <td colspan="9">
                        <div class="row">
                          <div
                            class="col-lg-1 col-md-1 col-1 my-2 border-1 border-danger border text-center"
                            (click)="deleteExpenseSlub(i)"
                          >
                            <i
                              class="fas fa-trash-alt mt-2"
                              (click)="deleteExpenseSlub(i)"
                            ></i>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 my-2">
                            <label for="">Expense Name</label>
                            <input
                              type="text"
                              formControlName="name"
                              id="name"
                              placeholder="name"
                              class="form-control m-0"
                            />
                          </div>

                          <div class="col-lg-5 col-md-6 col-12 my-2">
                            <label for="">Amount</label>
                            <input
                              type="text"
                              formControlName="amount"
                              id="amount"
                              placeholder="Amount"
                              class="form-control m-0"
                            />
                          </div>

                          <div class="col-lg-12 col-md-12 col-12 my-2">
                            <label for="">Note</label>
                            <input
                              type="text"
                              formControlName="note"
                              id="note"
                              placeholder="note"
                              class="form-control m-0"
                            />
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="9">
                        <div
                          *ngIf="
                            slubExpenseAddErrorShow && slubExpenseData().invalid
                          "
                          class="text-danger text-center fw-bolder"
                        >
                          <div>Fill Up the Previous One</div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-12 text-end">
                <button
                  type="button"
                  class="ms-2 btn btn-primary w-md"
                  (click)="addExpenseSlub()"
                >
                  Add Expense
                </button>
              </div>
            </div>
            <div class="row" *ngIf="f['dsoId'].value && currentPage == 2">
              <h3 class="text-center mt-3">Return</h3>
              <div class="col-lg-12">
                <table
                  class="table table-centered table-nowrap table-bordered"
                  [formGroup]="slubReturnForm"
                >
                  <thead class="customise-thead"></thead>
                  <tbody formArrayName="slubReturnFormVal">
                    <tr
                      class="py-2 border-primary border-3"
                      *ngFor="
                        let data1 of slubReturnData().controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <td colspan="9">
                        <div class="row">
                          <div
                            class="col-lg-1 col-md-1 col-1 my-2 border-1 border-danger border text-center"
                            (click)="deleteReturnSlub(i)"
                          >
                            <i
                              class="fas fa-trash-alt mt-2"
                              (click)="deleteReturnSlub(i)"
                            ></i>
                          </div>
                          <div class="col-lg-9 col-md-9 col-11 my-2">
                            <label for="">Select Item</label>
                            <ng-multiselect-dropdown
                              [placeholder]="'Select Item'"
                              [settings]="dropdownSettings"
                              [data]="dropdownList1"
                              [(ngModel)]="selectedItems2[i]"
                              [ngModelOptions]="{ standalone: true }"
                              (onSelect)="onInitiatorItemSelect2($event, i)"
                              (onDeSelect)="onInitiatorItemUnSelect2($event, i)"
                            >
                            </ng-multiselect-dropdown>
                          </div>

                          <div class="col-lg-2 col-md-2 col-12 my-2">
                            <label for="">Quantity</label>
                            <input
                              type="text"
                              formControlName="quantity"
                              id="quantity"
                              placeholder="Quantity"
                              class="form-control m-0"
                            />
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="9">
                        <div
                          *ngIf="
                            slubExpenseAddErrorShow && slubReturnData().invalid
                          "
                          class="text-danger text-center fw-bolder"
                        >
                          <div>Fill Up the Previous One</div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-lg-12 text-end">
                <button
                  type="button"
                  class="ms-2 btn btn-primary w-md"
                  (click)="addReturnSlub()"
                >
                  Add Return
                </button>
              </div>
            </div>
            <div class="row" *ngIf="f['dsoId'].value && currentPage == 3">
              <h3 class="text-center">Enter Shop Information</h3>
              <div class="col-lg-12 text-center">
                <app-search (selectedShop)="setShop($event)"></app-search>
              </div>
              <div
                class="col-lg-6 my-3 text-center"
                *ngIf="f['dueShopId'].value"
              >
                <label for="">Shop Information</label>
                <br />
                {{ shopInfo }}
              </div>
              <div class="col-lg-6 my-3" *ngIf="f['dueShopId'].value">
                <label for="dueAmount">Due Amount</label>
                <input
                  type="number"
                  formControlName="dueAmount"
                  class="form-control"
                  placeholder="Due Amount"
                />
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-12 mb-3">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-6 text-start">
                <button
                  class="btn btn-primary"
                  (click)="previous()"
                  *ngIf="f['dsoId'].value && currentPage > 0"
                  type="button"
                >
                  Previous
                </button>
              </div>
              <div class="col-lg-6 col-md-6 col-6 text-end">
                <button
                  (click)="next()"
                  *ngIf="f['dsoId'].value && currentPage < 3"
                  type="button"
                  class="btn btn-primary"
                >
                  Next
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <button
              class="btn btn-primary w-100"
              type="submit"
              [disabled]="salesForm.invalid"
              *ngIf="!salesForm.controls['id'].value"
            >
              Submit
            </button>
            <button
              class="btn btn-primary w-100"
              type="submit"
              *ngIf="salesForm.controls['id'].value"
            >
              Update
            </button>
          </div>

          <div class="col-lg-6 mb-3">
            <button
              class="btn btn-warning w-100"
              type="button"
              (click)="salesRefreshForm()"
            >
              Clear
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="row bg-white mt-3" *ngIf="showAddBtn">
      <div class="col-lg-12 col-md-12 col-12 p-3">
        <form [formGroup]="salesSForm" class="row" (ngSubmit)="getAllSales()">
          <div class="col-lg-3 mb-3">
            <label for="">Select DSO</label>
            <ng-multiselect-dropdown
              [placeholder]="'Select DSO'"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="selectedItems"
              [ngModelOptions]="{ standalone: true }"
              (onSelect)="onInitiatorItemSelect($event)"
              (onDeSelect)="onInitiatorItemUnSelect($event)"
            >
            </ng-multiselect-dropdown>
          </div>

          <div class="col-lg-3 mb-3">
            <label for="orderId">Order Id</label>
            <input
              type="text"
              class="form-control"
              formControlName="orderId"
              id="orderId"
            />
          </div>

          <div class="col-lg-3 mb-3">
            <label for="dateFrom">From</label>
            <input
              type="date"
              class="form-control"
              formControlName="dateFrom"
              id="dateFrom"
            />
          </div>

          <div class="col-lg-3 mb-3">
            <label for="dateTo">To</label>
            <input
              type="date"
              class="form-control"
              formControlName="dateTo"
              id="dateTo"
            />
          </div>

          <div class="col-lg-6 mb-3">
            <button class="btn btn-primary w-100" type="submit">Search</button>
          </div>

          <div class="col-lg-6 mb-3">
            <button
              class="btn btn-warning w-100"
              type="button"
              (click)="saleSRefreshForm()"
            >
              Clear
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="row bg-white" *ngIf="showAddBtn">
      <div class="col-lg-12">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Action</th>
              <th>Order Id</th>
              <th>DSO Id</th>
              <th>Amount</th>
              <th>Free Item</th>
              <th>Discount</th>
              <th>Final Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of salesList">
              <td class="p-0">
                <!-- <div
                  class="absolute-position dropdown customcolorforaction"
                  ngbDropdown
                  placement="bottom-right"
                >
                  <a class="dropdown-toggle card-drop" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-h font-size-18 ms-2 mt-3"></i>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-end dropdown-menu-customize"
                    ngbDropdownMenu
                  >
                    <a
                      class="dropdown-item"
                      (click)="editDue(data)"
                      href="javascript: void(0);"
                      ><i class="fas fa-pencil-alt text-success me-1"></i
                      >Edit</a
                    >
                    <a
                      class="dropdown-item"
                      (click)="deleteDue(data.id)"
                      href="javascript: void(0);"
                      ><i class="fas fa-trash text-danger me-1"></i>Delete</a
                    >
                  </div>
                </div> -->
              </td>
              <td>{{ data.inventoryOrderId }}</td>
              <td [innerHTML]="dsoList.get(data.dsoId)"></td>
              <td>{{ data.amount }}</td>
              <td>{{ data.freeItem }}</td>
              <td>{{ data.discount }}</td>
              <td>{{ data.finalAmount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- pagination start -->
    <div
      *ngIf="showAddBtn"
      class="row justify-content-md-between align-items-md-center mt-2"
    >
      <div class="col-sm-12 col-md-5">
        <div
          class="dataTables_info mb-2"
          id="tickets-table_info"
          role="status"
          aria-live="polite"
        >
          Showing
          {{ cPageVal }} to {{ toPageVal }} of {{ total }}
          entries
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="text-md-right float-md-end pagination-rounded">
          <ngb-pagination
            id="paginationCustoimse"
            [collectionSize]="total"
            (pageChange)="page = onPageChange($event)"
            [pageSize]="pageSize"
            [maxSize]="3"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
    <!-- pagination ends -->
  </div>
</div>
