<div class="position-relative">
  <div class="bgsetforloading position-absolute" *ngIf="loader">
    <div class="position-absolute middleinpage"><app-loader></app-loader></div>
  </div>

  <div class="container-fluid">
    <div class="row bg-white mt-3">
      <div class="col-lg-6 col-md-6 col-12">
        <h3>Due</h3>
      </div>
      <div class="col-lg-6 col-md-6 col-12 text-end">
        <button
          class="btn btn-lg btn-primary"
          (click)="toggleAddBtn()"
          *ngIf="showAddBtn"
        >
          Add New
        </button>
        <button
          class="btn btn-lg btn-primary"
          (click)="toggleAddBtn()"
          *ngIf="!showAddBtn"
        >
          Close
        </button>
      </div>
    </div>

    <div class="row bg-white mt-2" *ngIf="!showAddBtn">
      <form [formGroup]="dueForm" class="row" (ngSubmit)="onsubmit()">
        <div class="col-lg-3 mb-3">
          <label for="">Select DSO</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select DSO'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            [ngModelOptions]="{ standalone: true }"
            (onSelect)="onInitiatorItemSelect($event)"
            (onDeSelect)="onInitiatorItemUnSelect($event)"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="col-lg-3 mb-3">
          <label for="inventoryItemId">Inventory Item</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select Item'"
            [settings]="dropdownSettings"
            [data]="dropdownList1"
            [(ngModel)]="selectedItems1"
            [ngModelOptions]="{ standalone: true }"
            (onSelect)="onInitiatorItemSelect1($event)"
            (onDeSelect)="onInitiatorItemUnSelect1($event)"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="col-lg-3 mb-3">
          <label for="shopId">Shop</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select Shop'"
            [settings]="dropdownSettings"
            [data]="dropdownList2"
            [(ngModel)]="selectedItems2"
            [ngModelOptions]="{ standalone: true }"
            (onSelect)="onInitiatorItemSelect2($event)"
            (onDeSelect)="onInitiatorItemUnSelect2($event)"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="col-lg-3 mb-3">
          <label for="dueAmount">Due Amount</label>
          <input
            type="number"
            class="form-control"
            formControlName="dueAmount"
            id="dueAmount"
          />
        </div>

        <div class="col-lg-6 mb-3">
          <button
            class="btn btn-primary w-100"
            type="submit"
            *ngIf="!dueForm.controls['id'].value"
          >
            Submit
          </button>
          <button
            class="btn btn-primary w-100"
            type="submit"
            *ngIf="dueForm.controls['id'].value"
          >
            Update
          </button>
        </div>

        <div class="col-lg-6 mb-3">
          <button
            class="btn btn-warning w-100"
            type="button"
            (click)="dueRefreshForm()"
          >
            Clear
          </button>
        </div>
      </form>
    </div>

    <div class="row bg-white mt-3" *ngIf="showAddBtn">
      <div class="col-lg-12 col-md-12 col-12 p-3">
        <form [formGroup]="dueSForm" class="row" (ngSubmit)="getAllDue()">
          <div class="col-lg-3 mb-3">
            <label for="">Select DSO</label>
            <ng-multiselect-dropdown
              [placeholder]="'Select DSO'"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="selectedItems"
              [ngModelOptions]="{ standalone: true }"
              (onSelect)="onInitiatorItemSelect($event)"
              (onDeSelect)="onInitiatorItemUnSelect($event)"
            >
            </ng-multiselect-dropdown>
          </div>

          <div class="col-lg-3 mb-3">
            <label for="inventoryItemId">Inventory Item</label>
            <ng-multiselect-dropdown
              [placeholder]="'Select Item'"
              [settings]="dropdownSettings"
              [data]="dropdownList1"
              [(ngModel)]="selectedItems1"
              [ngModelOptions]="{ standalone: true }"
              (onSelect)="onInitiatorItemSelect1($event)"
              (onDeSelect)="onInitiatorItemUnSelect1($event)"
            >
            </ng-multiselect-dropdown>
          </div>

          <div class="col-lg-3 mb-3">
            <label for="shopId">Shop</label>
            <ng-multiselect-dropdown
              [placeholder]="'Select Shop'"
              [settings]="dropdownSettings"
              [data]="dropdownList2"
              [(ngModel)]="selectedItems2"
              [ngModelOptions]="{ standalone: true }"
              (onSelect)="onInitiatorItemSelect2($event)"
              (onDeSelect)="onInitiatorItemUnSelect2($event)"
            >
            </ng-multiselect-dropdown>
          </div>

          <div class="col-lg-3 mb-3">
            <label for="orderId">Order Id</label>
            <input
              type="text"
              class="form-control"
              formControlName="orderId"
              id="orderId"
            />
          </div>

          <div class="col-lg-6 mb-3">
            <button class="btn btn-primary w-100" type="submit">Search</button>
          </div>

          <div class="col-lg-6 mb-3">
            <button
              class="btn btn-warning w-100"
              type="button"
              (click)="dueRefreshForm()"
            >
              Clear
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="row bg-white">
      <div class="col-lg-12">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Action</th>
              <th>DSO Id</th>
              <th>Order Id</th>
              <th>Shop Id</th>
              <th>Inventory Item Id</th>
              <th>Due Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of dueList">
              <td class="p-0">
                <div
                  class="absolute-position dropdown customcolorforaction"
                  ngbDropdown
                  placement="bottom-right"
                >
                  <a class="dropdown-toggle card-drop" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-h font-size-18 ms-2 mt-3"></i>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-end dropdown-menu-customize"
                    ngbDropdownMenu
                  >
                    <a
                      class="dropdown-item"
                      (click)="editDue(data)"
                      href="javascript: void(0);"
                      ><i class="fas fa-pencil-alt text-success me-1"></i
                      >Edit</a
                    >
                    <a
                      class="dropdown-item"
                      (click)="deleteDue(data.id)"
                      href="javascript: void(0);"
                      ><i class="fas fa-trash text-danger me-1"></i>Delete</a
                    >
                  </div>
                </div>
              </td>
              <td>{{ data.dsoId }}</td>
              <td>{{ data.orderId }}</td>
              <td>{{ data.shopId }}</td>
              <td>{{ data.inventoryItemId }}</td>
              <td>{{ data.dueAmount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- pagination start -->
    <div class="row justify-content-md-between align-items-md-center mt-2">
      <div class="col-sm-12 col-md-5">
        <div
          class="dataTables_info mb-2"
          id="tickets-table_info"
          role="status"
          aria-live="polite"
        >
          Showing
          {{ cPageVal }} to {{ toPageVal }} of {{ total }}
          entries
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="text-md-right float-md-end pagination-rounded">
          <ngb-pagination
            id="paginationCustoimse"
            [collectionSize]="total"
            (pageChange)="page = onPageChange($event)"
            [pageSize]="pageSize"
            [maxSize]="3"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
    <!-- pagination ends -->
  </div>
</div>
