<div class="position-relative">
  <div class="bgsetforloading position-absolute" *ngIf="loader">
    <div class="position-absolute middleinpage"><app-loader></app-loader></div>
  </div>
  <div class="container-fluid">
    <div class="row bg-white py-2">
      <div class="col-lg-6 col-md-6 col-12">
        <h3>Merchant</h3>
      </div>
      <div class="col-lg-6 col-md-6 col-12 text-end">
        <button
          class="btn btn-lg btn-primary"
          *ngIf="showAddBtn"
          (click)="toggleAddOrderBtn()"
        >
          Add New
        </button>
        <button
          class="btn btn-lg btn-primary"
          *ngIf="!showAddBtn"
          (click)="toggleAddOrderBtn()"
        >
          Close
        </button>
      </div>
    </div>

    <div class="row bg-white" *ngIf="!showAddBtn">
      <form class="row" [formGroup]="merchantForm" (ngSubmit)="addMerchant()">
        <div class="form-group mb-3 col-lg-4 col-md-4">
          <label>Location Type:</label>
          <input
            type="text"
            class="form-control"
            formControlName="locationType"
          />
        </div>
        <div class="form-group mb-3 col-lg-4 col-md-4">
        <div class="form-group mb-3 col-lg-4 col-md-4">
          <label>Name:</label>
          <input type="text" class="form-control" formControlName="name" />
        </div>

        <div class="form-group mb-3 col-lg-4 col-md-4">
          <label>Area:</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select Area'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            [ngModelOptions]="{ standalone: true }"
            (onSelect)="onInitiatorItemSelect($event)"
            (onDeSelect)="onInitiatorItemUnSelect($event)"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group mb-3 col-lg-4 col-md-4">
        <div class="form-group mb-3 col-lg-4 col-md-4">
          <label>Area:</label>
          <ng-multiselect-dropdown
            [placeholder]="'Select Area'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            [ngModelOptions]="{ standalone: true }"
            (onSelect)="onInitiatorItemSelect($event)"
            (onDeSelect)="onInitiatorItemUnSelect($event)"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group mb-3 col-lg-4 col-md-4">
          <label>House:</label>
          <input type="text" class="form-control" formControlName="house" />
        </div>

        <div class="form-group mb-3 col-lg-4 col-md-4">
          <label>Road:</label>
          <input type="text" class="form-control" formControlName="road" />
        </div>

        <div class="form-group mb-3 col-lg-4 col-md-4">
          <label>Police Station:</label>
          <input
            type="text"
            class="form-control"
            formControlName="policeStation"
          />
        </div>

        <!-- <div class="form-group mb-3 col-lg-3 col-md-3">
        <!-- <div class="form-group mb-3 col-lg-3 col-md-3">
          <label>District:</label>
          <input type="text" class="form-control" formControlName="district" />
        </div>

        <div class="form-group mb-3 col-lg-3 col-md-3">
          <label>Country:</label>
          <input type="text" class="form-control" formControlName="country" />
        </div> -->
        </div> -->

        <div class="form-group mb-3 col-lg-4 col-md-4">
        <div class="form-group mb-3 col-lg-4 col-md-4">
          <label>Phone Number:</label>
          <input
            type="text"
            class="form-control"
            formControlName="phoneNumber"
          />
        </div>

        <div class="form-group mb-3 col-lg-4 col-md-4">
        <div class="form-group mb-3 col-lg-4 col-md-4">
          <label>Alternative Phone Number:</label>
          <input
            type="text"
            class="form-control"
            formControlName="altPhoneNumber"
          />
        </div>

        <div class="form-group mb-3 col-lg-4 col-md-4">
        <div class="form-group mb-3 col-lg-4 col-md-4">
          <label>Wallet Number:</label>
          <input
            type="text"
            class="form-control"
            formControlName="walletPhoneNumber"
          />
        </div>

        <div class="col-lg-6 col-md-6 col-12">
          <button type="submit" class="w-100 my-2 btn btn-primary">
            Submit
          </button>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <button
            class="my-2 btn btn-warning w-100"
            (click)="merchantdformRefresh()"
          >
            Clear
          </button>
        </div>
      </form>
    </div>

    <div class="row bg-white mt-3" *ngIf="showAddBtn">
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th>Action</th>
              <th>Location Type</th>
              <th>Name</th>
              <th>Address</th>
              <th>Phone Number</th>
              <th>Wallet Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of merchantdetailsList">
              <td class="p-0">
                <div
                  class="absolute-position dropdown customcolorforaction"
                  ngbDropdown
                  placement="bottom-right"
                >
                  <a
                    href="javascript: void(0);"
                    class="dropdown-toggle card-drop"
                    ngbDropdownToggle
                  >
                    <i class="fas fa-ellipsis-h font-size-18 ms-2 mt-3"></i>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-end dropdown-menu-customize"
                    ngbDropdownMenu
                  >
                    <a class="dropdown-item" (click)="editUser(data)"
                      ><i class="fas fa-pencil-alt text-success me-1"></i
                      >Edit</a
                    >
                  </div>
                </div>
              </td>
              <td>{{ data.locationType }}</td>
              <td>{{ data.name }}</td>
              <td>
                {{ data.house }}, {{ data.road }},{{ getZoneName(data.area) }},
                {{ data.policeStation }}, {{ data.district }}
              </td>
              <td>{{ data.phoneNumber }}</td>
              <td>{{ data.walletPhoneNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- pagination start -->
    <div class="row justify-content-md-between align-items-md-center mt-2">
      <div class="col-sm-12 col-md-5">
        <div
          class="dataTables_info mb-2"
          id="tickets-table_info"
          role="status"
          aria-live="polite"
        >
          Showing
          {{ cPageVal }} to {{ toPageVal }} of {{ total }}
          entries
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <div class="text-md-right float-md-end pagination-rounded">
          <ngb-pagination
            id="paginationCustoimse"
            [collectionSize]="total"
            (pageChange)="page = onPageChange($event)"
            [pageSize]="pageSize"
            [maxSize]="3"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
    <!-- pagination ends -->
  </div>
</div>
