.top-card-border {
  border: 1px solid #80808066;
  border-radius: 5px;
}
.bb1px {
  border-bottom: 1px solid #80808066;
}
.pmntreceived-color {
  background-color: #02b347f2;
}
.pmntcashout-color {
  background-color: #ff857f;
}
.issuedrefund-color {
  background-color: #fbaa4e;
}
.fundtransfer-color {
  background-color: #1ca0af;
}
